# Arquivos desnecessários
LP Bling Envios.7z
Fontes/Gilroy/gilroy.zip
Fontes/Gilroy/*.jpg
Fontes/Gilroy/cover.jpg
Fontes/Gilroy/Help - Guide Document.pdf
Fontes/Gilroy/More Free Fonts on fontshmonts.com.url
